body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to top left,
    rgb(255, 255, 255),
    rgba(88, 66, 255, 0.535)
  );
}

input {
  font-size: 1.5rem;
  backdrop-filter: blur(6px);
}

.group-one > input,
.group-two > input,
.group-three > input {
  height: 1.5rem;
  width: 1rem;
  display: inline;
}

.group-one,
.group-two,
.group-three {
  padding-block: 0.5rem;
}

.age-select > input {
  height: 1.5rem;
  width: 1rem;
  margin: auto;
}

.age-select {
  text-align: center;
  margin: auto;
}

.important-inputs {
  flex-direction: column;
  width: 15rem;
  text-align: center;
}

#pickupDateInput {
  margin-bottom: 1rem;
}

#rentalDaysAmountInput {
  margin-bottom: 1rem;
}

.options-paragragh {
  display: block;
}

.option-checkbox {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}
div {
  display: flex;
}

.cost-totalling {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.total-due {
  display: flex;
  align-content: center;
  border: solid 1px rgba(0, 0, 0, 20);
  box-shadow: 1px 1px 4px rgba(20, 20, 20, 10);
  padding-top: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  flex-direction: column;
  width: 15%;
  font-weight: 600;
}

.cost-totalling {
  text-align: center;
}

#estimateCostButton {
  margin: auto;
  background-color: rgba(75, 255, 25, 0.483);
}
